<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" href="https://github.com/Nowikens" target="_blank" >Nowikens</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'index:home' %}">Home Page</a>
            </li>
{% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
{% endif %}
        </ul>
    </div>
{% if user.is_authenticated %}
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-text">{{ request.user }}</span>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="{% url 'accounts:change-price' %}">Change accepted price</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
        </ul>
    </div>
{% endif %}
</nav>